.info-pic {
    max-width: 317px;
    
}
.info {
   
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
   
   
}


.info--name {    
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 21px 0 0;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
   
    
}
.info--designation{    
    display: flex;
    justify-content: center;
    margin:6px 0 0 ;
    color: #F3BF99;
    
    
}
.info--website{
    display: flex;
    justify-content: center;
    color: #F5F5F5;
    text-decoration: none;
    margin: 9px 0 0;    
}
.info--buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 0;
   
}
.info--button--email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    width: 115px;
    border-radius: .5rem;
    gap: 1rem;
    color: #374151;
}

.info--button--linkedin{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: .5rem;
    width: 115px;
    border-radius: .5rem;
    background-color: #5093E2;
    color: #F5F5F5;
}